button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #7a959f;
  color: #fff;
}

button:hover {
  border-color: #646cff;
}
