.data-grid-wrapper {
  height: 700px;
  width: 1700px;
}

@media only screen and (max-width: 1500px) {
  .data-grid-wrapper {
    width: 1200px;
    height: 650px;
  }
}

@media only screen and (max-width: 1000px) {
  .data-grid-wrapper {
    width: 800px;
    height: 650px;
  }
}


@media only screen and (max-width: 600px) {
  .data-grid-wrapper {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 400px) {
  .data-grid-wrapper {
    width: 300px;
    height: 400px;
  }
}
